[INFO]
cookie =

[ACCOUNT]
login_mode = 微信登录
username =
password =
wx_link =

[SETTINGS]
interval_preset = 标准
interval_min = 1.0
interval_max = 3.0
time_schedule = 0
start_time = 08:00
end_time = 18:00
log_mode = 精简
active_coord = 1
coord_jitter = 0
lon_1 = 113.123456
lat_1 = 23.654321
lon_2 =
lat_2 =
lon_3 =
lat_3 =
selected_course_id =
selected_course_name =
sign_trigger_seconds = 30
